# Note
* This script anaylses purchase data from a video gaming company

In [4]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
## Player Count

* Display the total number of players

In [7]:
total_players = purchase_data["SN"].count()
unique_players = purchase_data["SN"].nunique()
print(f'Total number of players: {total_players}')
print(f'Unique number of players: {unique_players}')

Total number of players: 780
Unique number of players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [60]:
total_revenue = purchase_data["Price"].sum()
number_purchases = purchase_data["Price"].count()
average_purchase = total_revenue.sum()/total_players

purchase_analysis = pd.DataFrame({"Number of Players":[total_players], "Number of Unique Players": [unique_players],\
                                 "Number of Purchases": [number_purchases], "Average Purchase Price":["${:.2f}".format(average_purchase)],\
                                 "Total Revenue": ["${:.2f}".format(total_revenue)]})
purchase_analysis

,Number of Players,Number of Unique Players,Number of Purchases,Average Purchase Price,Total Revenue
0,780,576,780,$3.05,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
#Percentage and Count of Male Players
male_count = purchase_data["Gender"].loc[purchase_data["Gender"] == "Male"].count()
male_percent = male_count/total_players*100

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc for males
male_purchase_value = purchase_data["Price"].loc[purchase_data["Gender"] == "Male"].sum()
male_avg_purchase_price = male_purchase_value/male_count
male_unique = purchase_data["Price"].loc[purchase_data["Gender"] == "Male"].nunique()
male_avg_purchase_pp = male_purchase_value/male_unique

print(f'Male counts: {male_count}')
print(f'Male unique counts: {male_unique}')
print(f'Male average purchase per person: {male_avg_purchase_pp}')
print(f'Male average purchase price: {male_avg_purchase_price}')

Male counts: 652
Male unique counts: 144
Male average purchase per person: 13.664166666666667
Male average purchase price: 3.0178527607361967

In [10]:
#Percentage and Count of Male Players
female_count = purchase_data["Gender"].loc[purchase_data["Gender"] == "Female"].count()
female_percent = female_count/total_players*100

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc for females
female_purchase_value = purchase_data["Price"].loc[purchase_data["Gender"] == "Female"].sum()
female_avg_purchase_price = female_purchase_value/female_count
female_unique = purchase_data["Price"].loc[purchase_data["Gender"] == "Female"].nunique()
female_avg_purchase_pp = female_purchase_value/female_unique

print(f'female counts: {female_count}')
print(female_avg_purchase_pp)
print(female_avg_purchase_price)

female counts: 113
4.581518987341772
3.203008849557522

In [11]:
#Percentage and Count of Male Players
other_count = purchase_data["Gender"].loc[(purchase_data["Gender"] != "Female") & (purchase_data["Gender"] != "Male")].count()
other_percent = other_count/total_players*100

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc for females
other_purchase_value = purchase_data["Price"].loc[(purchase_data["Gender"] != "Female")\
                                                  & (purchase_data["Gender"] != "Male")].sum()
other_unique = purchase_data["Price"].loc[(purchase_data["Gender"] != "Female")\
                                                  & (purchase_data["Gender"] != "Male")].nunique()
other_avg_purchase_price = other_purchase_value/other_count
other_avg_purchase_pp = other_purchase_value/other_unique

print(other_avg_purchase_pp)
print(other_avg_purchase_price)

4.1825
3.3459999999999996

In [12]:
gender_demo = pd.DataFrame({"Total Count": [male_count, female_count, other_count],\
                           "Percentage of Players": [male_percent, female_percent, other_percent]},\
                           index=["Male","Female","Other/Non-Disclosured"])
gender_demo["Percentage of Players"] = gender_demo["Percentage of Players"].map("{:,.2f}%".format)
gender_demo

                       Total Count Percentage of Players
Male                           652                83.59%
Female                         113                14.49%
Other/Non-Disclosured           15                 1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
#Other statistical calculations: Bonus
total_purchase_f = purchase_data["Price"].loc[purchase_data["Gender"] == "Female"].describe()
total_purchase_m = purchase_data["Price"].loc[purchase_data["Gender"] == "Male"].describe()
total_purchase_o = purchase_data["Price"].loc[(purchase_data["Gender"] == "Male") &\
                                              (purchase_data["Gender"] != "Female")].describe()

In [59]:
purchasing_analysis = pd.DataFrame({"Purchase Count":[female_count, male_count, other_count],\
                                    "Unique Purchase Count": [female_unique, male_unique, other_unique],\
                                   "Average Purchase Price":["${:.2f}".format(female_avg_purchase_price), "${:.2f}".format(male_avg_purchase_price), "${:.2f}".format(other_avg_purchase_price)],\
                                   "Total Purchase Value":["${:.2f}".format(female_purchase_value), "${:.2f}".format(male_purchase_value), "${:.2f}".format(other_purchase_value)],\
                                   "Avg Total Purchase per Person":["${:.2f}".format(female_avg_purchase_pp), "${:.2f}".format(male_avg_purchase_pp), "${:.2f}".format(other_avg_purchase_pp)]},\
                                   index=["Female","Male","Other/Non-Disclosured"])
purchasing_analysis[["Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]] =purchasing_analysis[["Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]
purchasing_analysis

,Purchase Count,Unique Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,79,$3.20,$361.94,$4.58
Male,652,144,$3.02,$1967.64,$13.66
Other/Non-Disclosured,15,12,$3.35,$50.19,$4.18

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [38]:
# Find group range and create age groups

x = purchase_data["Age"].min()
y = purchase_data["Age"].max()
#print(x, y)

z = range(6,47, 4)

bins = [bins for bins in z]
print(bins)
labels =['<10 years', '11 to 14 years', '15 to 18 years', '19 to 22 years', '23 to 26 years',\
        '27 to 30 years', '31 to 34 years', '35 to 38 years', '39 to 42 years', '>43 years']

pd.cut(purchase_data["Age"], bins, labels=labels).head()
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], bins, labels=labels, right=True)

age_group = purchase_data.groupby("Age Groups")
age_count = age_group["Age Groups"].count()
age_percent = age_count/total_players * 100
age_analysis = pd.DataFrame({"Total Count":age_count, "Percentage of Players": age_percent})
print(age_group)
#age_percent
age_analysis["Percentage of Players"] = age_analysis["Percentage of Players"].map("{:,.2f}%".format)
age_analysis

[6, 10, 14, 18, 22, 26, 30, 34, 38, 42, 46]
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001C97E054520>

                Total Count Percentage of Players
Age Groups
<10 years                32                 4.10%
11 to 14 years           19                 2.44%
15 to 18 years          113                14.49%
19 to 22 years          254                32.56%
23 to 26 years          207                26.54%
27 to 30 years           63                 8.08%
31 to 34 years           38                 4.87%
35 to 38 years           35                 4.49%
39 to 42 years           15                 1.92%
>43 years                 4                 0.51%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [43]:
#purchase count, avg. purchase price, avg. purchase total per person
age_purchase_value = age_group["Price"].sum()
age_unique = age_group["Price"].nunique()
age_purchase_mean = age_group["Price"].mean()
age_purchase_mean_pp = age_purchase_value / age_unique

age_purchase_analysis = pd.DataFrame({"Purchase Count": age_count, "Average Purchase Price": age_purchase_mean.map("${:,.2f}".format), "Total Purchase Price": age_purchase_value.map("${:,.2f}".format), "Ave Total Purchase per Person":age_purchase_mean_pp.map("${:,.2f}".format)})
                                      
age_purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Price,Ave Total Purchase per Person
Age Groups,,,,
<10 years,32,$3.40,$108.96,$3.89
11 to 14 years,19,$2.68,$50.95,$3.00
15 to 18 years,113,$3.03,$342.91,$4.63
19 to 22 years,254,$3.04,$771.89,$6.38
23 to 26 years,207,$3.06,$634.24,$5.87
27 to 30 years,63,$2.88,$181.23,$3.70
31 to 34 years,38,$2.73,$103.68,$3.14
35 to 38 years,35,$3.55,$124.35,$4.29
39 to 42 years,15,$3.37,$50.50,$3.37
>43 years,4,$2.77,$11.06,$2.77

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [44]:
SN_grouped = purchase_data.groupby("SN")


#top_spenders = purchase_data.sort_values("Price", ascending=False) grouped['Points'].agg([np.sum, np.mean, np.std])
pp_purchase_total = SN_grouped["Price"].agg(np.sum) #.sort_values('Price')
pp_purchase_count = SN_grouped["Price"].agg(np.size)
                                            
pp_purchase_average = (pp_purchase_total / pp_purchase_count)
top_spender_df = pd.DataFrame({"Purchase Count Average":pp_purchase_count , "Purchase Price": pp_purchase_average.map("${:,.2f}".format), "Total Purchase Value":pp_purchase_total.map("${:,.2f}".format)}).sort_values('Total Purchase Value', ascending=False)
top_spender_df.head()

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51                     3.0          $3.17                $9.50
Phistym51                        2.0          $4.75                $9.50
Lamil79                          2.0          $4.64                $9.29
Aina42                           3.0          $3.07                $9.22
Saesrideu94                      2.0          $4.59                $9.18

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [45]:
ID_grouped = purchase_data.groupby(["Item ID", "Item Name"])


#top_spenders = purchase_data.sort_values("Price", ascending=False) grouped['Points'].agg([np.sum, np.mean, np.std])
ID_purchase_total = ID_grouped["Price"].agg(np.sum) #.sort_values('Price')
ID_purchase_count = ID_grouped["Price"].agg(np.size)
                                            
ID_purchase_average = (ID_purchase_total / ID_purchase_count)
most_popular_df = pd.DataFrame({"Purchase Count":ID_purchase_count , "Purchase Price": ID_purchase_average.map("${:,.2f}".format), "Total Purchase Value":ID_purchase_total.map("${:,.2f}".format)}).sort_values('Purchase Count', ascending=False)
most_popular_df.head()

,,Purchase Count,Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13.0,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12.0,$4.23,$50.76
145,Fiery Glass Crusader,9.0,$4.58,$41.22
132,Persuasion,9.0,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9.0,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [61]:
most_profitable_df = pd.DataFrame({"Purchase Count":ID_purchase_count ,\
                                   "Purchase Price": ID_purchase_average.map("${:,.2f}".format),\
                                   "Total Purchase Value":ID_purchase_total.map("${:,.2f}".format)})\
                                    .sort_values('Total Purchase Value', ascending=False)
most_profitable_df.head()

,,Purchase Count,Purchase Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2.0,$4.99,$9.98
29,"Chaos, Ender of the End",5.0,$1.98,$9.90
173,Stormfury Longsword,2.0,$4.93,$9.86
38,"The Void, Vengeance of Dark Magic",4.0,$2.37,$9.48
143,Frenzied Scimitar,6.0,$1.56,$9.36