# Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(100)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
95,95,Ilassast39,18,Male,164,Exiled Doomblade,1.63
96,96,Lisassala98,16,Male,56,Foul Titanium Battle Axe,2.92
97,97,Aiduecal76,20,Male,134,Undead Crusader,4.50
98,98,Chadossa89,23,Male,132,Persuasion,3.19
99,99,Haisrisuir60,23,Male,92,Final Critic,4.19

In [115]:
## Player Count

* Display the total number of players

In [116]:
total_players = purchase_data["SN"].count()
unique_players = purchase_data["SN"].nunique()
print(f'Total number of players: {total_players}')
print(f'Unique number of players: {unique_players}')

Total number of players: 780
Unique number of players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [83]:
total_revenue = purchase_data["Price"].sum()
number_purchases = purchase_data["Price"].count()
average_purchase = total_revenue.sum()/total_players

purchase_analysis = pd.DataFrame({"Number of Players":[total_players], "Number of Unique Players": [unique_players],\
                                 "Number of Purchases": [number_purchases], "Average Purchase Price":[average_purchase],\
                                 "Total Revenue": [total_revenue]})
purchase_analysis

,Number of Players,Number of Unique Players,Number of Purchases,Average Purchase Price,Total Revenue
0,780,576,780,3.050987,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [125]:
#Percentage and Count of Male Players
male_count = purchase_data["Gender"].loc[purchase_data["Gender"] == "Male"].count()
male_percent = male_count/total_players * 100

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc for males
male_purchase_value = purchase_data["Price"].loc[purchase_data["Gender"] == "Male"].sum()
male_avg_purchase_price = male_purchase_value/male_count
male_unique = purchase_data["Price"].loc[purchase_data["Gender"] == "Male"].nunique()
male_avg_purchase_pp = male_purchase_value/male_unique

print(f'Male counts: {male_unique}')
print(male_avg_purchase_pp)
print(male_avg_purchase_price)

Male counts: 144
13.664166666666667
3.0178527607361967

In [123]:
#Percentage and Count of Male Players
female_count = purchase_data["Gender"].loc[purchase_data["Gender"] == "Female"].count()
female_percent = female_count/total_players * 100

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc for females
female_purchase_value = purchase_data["Price"].loc[purchase_data["Gender"] == "Female"].sum()
female_avg_purchase_price = female_purchase_value/female_count
female_unique = purchase_data["Price"].loc[purchase_data["Gender"] == "Female"].nunique()
female_avg_purchase_pp = female_purchase_value/female_unique

print(f'female counts: {female_count}')
print(female_avg_purchase_pp)
print(female_avg_purchase_price)

female counts: 113
4.581518987341772
3.203008849557522

In [127]:
#Percentage and Count of Male Players
other_count = purchase_data["Gender"].loc[(purchase_data["Gender"] != "Female") & (purchase_data["Gender"] != "Male")].count()
other_percent = other_count/total_players * 100

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc for females
other_purchase_value = purchase_data["Price"].loc[(purchase_data["Gender"] != "Female")\
                                                  & (purchase_data["Gender"] != "Male")].sum()
other_unique = purchase_data["Price"].loc[(purchase_data["Gender"] != "Female")\
                                                  & (purchase_data["Gender"] != "Male")].nunique()
other_avg_purchase_price = other_purchase_value/other_count
other_avg_purchase_pp = other_purchase_value/other_unique

print(other_avg_purchase_pp)
print(other_avg_purchase_price)

4.1825
3.3459999999999996

In [128]:
gender_demo = pd.DataFrame({"Total Count": [male_count, female_count, other_count],\
                           "Percentage of Players": [male_percent, female_percent, other_percent]},\
                           index=["Male","Female","Other/Non-Disclosured"])
gender_demo

                       Total Count  Percentage of Players
Male                           652              83.589744
Female                         113              14.487179
Other/Non-Disclosured           15               1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [129]:
#Other statistical calculations
total_purchase_f = purchase_data["Price"].loc[purchase_data["Gender"] == "Female"].sum()
total_purchase_m = purchase_data["Price"].loc[purchase_data["Gender"] == "Male"].describe()
total_purchase_o = purchase_data["Price"].loc[(purchase_data["Gender"] == "Male") &\
                                              (purchase_data["Gender"] != "Female")].describe()

In [135]:
purchasing_analysis = pd.DataFrame({"Purchase Count":[female_count, male_count, other_count],\
                                    "Unique Purchase Count": [female_unique, male_unique, other_unique],\
                                   "Average Purchase Price":[female_avg_purchase_price, male_avg_purchase_price, other_avg_purchase_price],\
                                   "Total Purchase Value":[female_avg_purchase_price, male_avg_purchase_price, other_avg_purchase_price],\
                                   "Avg Total Purchase per Person":[female_avg_purchase_pp, male_avg_purchase_pp, other_avg_purchase_pp]},\
                                   index=["Female","Male","Other/Non-Disclosured"])
purchasing_analysis

,Purchase Count,Unique Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,79,3.203009,3.203009,4.581519
Male,652,144,3.017853,3.017853,13.664167
Other/Non-Disclosured,15,12,3.346000,3.346000,4.182500

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [198]:
# Find group range and create age groups
# SPORT OUT FORMATTING, AND BIN BOUNDARIES
x = purchase_data["Age"].min()
y = purchase_data["Age"].max()
#print(x, y)

z = range(4,50, 4)
bins = [bins for bins in z]
labels =['4 to 8 years', '8 to 12 years', '12 to 16 years', '16 to 20 years', '20 to 24 years',\
        '24 to 28 years', '28 to 32 years', '32 to 36 years', '36 to 40 years', '40 to 44 years', '44 to 48 years']

pd.cut(purchase_data["Age"], bins, labels=labels).head()
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], bins, labels=labels)

age_group = purchase_data.groupby("Age Groups")
age_count = age_group["Age groups"].count()
age_percent = age_count/total_players * 100
age_analysis = pd.DataFrame({"Total Count":age_count, "Percentage of Players": age_percent})
print(age_group)
#age_percent
age_analysis

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000269013D8610>

                Total Count  Percentage of Players
Age Groups
4 to 8 years             17               2.179487
8 to 12 years            28               3.589744
12 to 16 years           71               9.102564
16 to 20 years          170              21.794872
20 to 24 years          266              34.102564
24 to 28 years           88              11.282051
28 to 32 years           63               8.076923
32 to 36 years           42               5.384615
36 to 40 years           28               3.589744
40 to 44 years            6               0.769231
44 to 48 years            1               0.128205

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [209]:
#purchase count, avg. purchase price, avg. purchase total per person
age_purchase_value = age_group["Price"].sum()
age_unique = age_group["Price"].nunique()
age_purchase_mean = age_group["Price"].mean()
age_purchase_mean_pp = age_purchase_value / age_unique

age_purchase_analysis = pd.DataFrame({"Purchase Count": age_count, "Average Purchase Price": age_purchase_mean, "Total Purchase Price": age_purchase_value, "Ave Total Purchase per Person":age_purchase_mean_pp})
                                      
age_purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Price,Ave Total Purchase per Person
Age Groups,,,,
4 to 8 years,17,3.462353,58.86,3.462353
8 to 12 years,28,3.024643,84.69,3.528750
12 to 16 years,71,2.993944,212.57,4.010755
16 to 20 years,170,3.123529,531.00,5.531250
20 to 24 years,266,3.006541,799.74,6.664500
24 to 28 years,88,2.929205,257.77,3.905606
28 to 32 years,63,3.052222,192.29,3.628113
32 to 36 years,42,2.895952,121.63,3.475143
36 to 40 years,28,3.560357,99.69,4.153750
40 to 44 years,6,3.305000,19.83,3.305000
44 to 48 years,1,1.700000,1.70,1.700000

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [220]:
pp_unique = purchase_data["SN"].value_counts()

#top_spenders = purchase_data.sort_values("Price", ascending=False)
pp_unique.head()

Lisosia93      5
Idastidru52    4
Iral74         4
Iri67          3
Tyisur83       3
Name: SN, dtype: int64

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame