# Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(100)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
95,95,Ilassast39,18,Male,164,Exiled Doomblade,1.63
96,96,Lisassala98,16,Male,56,Foul Titanium Battle Axe,2.92
97,97,Aiduecal76,20,Male,134,Undead Crusader,4.50
98,98,Chadossa89,23,Male,132,Persuasion,3.19
99,99,Haisrisuir60,23,Male,92,Final Critic,4.19

In [2]:
## Player Count

* Display the total number of players

In [3]:
total_players = purchase_data["SN"].count()
unique_players = purchase_data["SN"].nunique()
print(f'Total number of players: {total_players}')
print(f'Unique number of players: {unique_players}')

Total number of players: 780
Unique number of players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
total_revenue = purchase_data["Price"].sum()
number_purchases = purchase_data["Price"].count()
average_purchase = total_revenue.sum()/total_players

purchase_analysis = pd.DataFrame({"Number of Players":[total_players], "Number of Unique Players": [unique_players],\
                                 "Number of Purchases": [number_purchases], "Average Purchase Price":[average_purchase],\
                                 "Total Revenue": [total_revenue]})
purchase_analysis

,Number of Players,Number of Unique Players,Number of Purchases,Average Purchase Price,Total Revenue
0,780,576,780,3.050987,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [25]:
male_count = purchase_data["Gender"].loc[purchase_data["Gender"] == "Male"].count()
male_percent = male_count/total_players * 100
male_percent

83.58974358974359

In [26]:
female_count = purchase_data["Gender"].loc[purchase_data["Gender"] == "Female"].count()
female_percent = female_count/total_players * 100
female_percent

14.487179487179489

In [38]:
other_count = purchase_data["Gender"].loc[(purchase_data["Gender"] != "Female") & (purchase_data["Gender"] != "Male")].count()
other_percent = other_count/total_players * 100
other_percent

1.9230769230769231

In [58]:
gender_demo = pd.DataFrame({"Total Count": [male_count, female_count, other_count],\
                           "Percentage of Players": [male_percent, female_percent, other_percent]},\
                           index=["Male","Female","Other/Non-Disclosured"])
gender_demo

                       Total Count  Percentage of Players
Male                           652              83.589744
Female                         113              14.487179
Other/Non-Disclosured           15               1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame